In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
import plotly.express as px
import os 
from pathlib import Path

In [2]:
from utils import *

# **Dataset 1: Software Engineer Salaries**

In [4]:
#Carga del dataset
df1 = pd.read_csv(r'C:\Users\daine\Downloads\Proyecto\datasets\Software Engineer Salaries.csv')
#descargarlo desde https://www.kaggle.com/datasets/emreksz/software-engineer-jobs-and-salaries-2024

In [5]:
#revision del dataset
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 870 entries, 0 to 869
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company        868 non-null    object
 1   Company Score  789 non-null    float64
 2   Job Title      870 non-null    object
 3   Location       857 non-null    object
 4   Date           870 non-null    object
 5   Salary         764 non-null    object
dtypes: float64(1), object(5)
memory usage: 40.9+ KB
None

In [ ]:
print(df1.describe())

In [ ]:
df1.head(5)

In [ ]:
df1=extraer_salarios(df1,"Salary")

In [ ]:
# Identificar duplicados en todas las columnas
duplicados = df1.duplicated()

# Mostrar las filas duplicadas
print(df1[duplicados])

# Contar el número total de duplicados
print(f"Total duplicados: {duplicados.sum()}")

In [ ]:
categorical_columns = ['Job Title', 'Location']
for col in categorical_columns:
    plot_top_n_categories(df1, col, n=20)

In [ ]:
df1['job_simp'] = df1['Job Title'].apply(title_simplifier)
df1.job_simp.value_counts()

# **Dataset 2: Data Science Job listing**

In [ ]:
#Carga del dataset
df2 = pd.read_csv(r'/content/Data-Science-Job_Listing.csv')
#descargarlo desde https://www.kaggle.com/datasets/ritiksharma07/data-science-job-listings-from-glassdoor

In [ ]:
#revision del dataset
print(df2.info())

In [ ]:
print(df2.describe())

In [ ]:
df2.head(20)

In [ ]:
#reviso las columnas categoricas
categorical_columns = ['Job Title', 'Location']
for col in categorical_columns:
    plot_top_n_categories(df2, col, n=20)

In [ ]:
df2['job_simp'] = df2['Job Title'].apply(title_simplifier)
df2.job_simp.value_counts()

In [ ]:
df2['Company Name'] = df2['Company Name'].str.replace('\n',' ')

In [ ]:
df2=extraer_salarios(df2,"Salary")

In [ ]:
# Aplicar la función al DataFrame
df2['key_info'] = df2['description'].apply(extract_key_info)

# Descomponer la columna de información clave en columnas separadas
df2['skills'] = df2['key_info'].apply(lambda x: x['skills'])
df2['responsibilities'] = df2['key_info'].apply(lambda x: x['responsibilities'])
df2['requirements'] = df2['key_info'].apply(lambda x: x['requirements'])

# Eliminar la columna temporal
df2= df2.drop(columns=['key_info'])

# Aplicar la limpieza a la columna de skills
df2['cleaned_skills'] = df2['skills'].apply(clean_skills)

# **Dataset 3: Glassdoor Salary Cleaned Version**

In [25]:
#Carga del dataset
df3 = pd.read_csv(r'C:\Users\daine\Downloads\Proyecto\datasets\Glassdoor_Salary_Cleaned_Version.csv')
#descargarlo desde https://www.kaggle.com/datasets/fahadrehman07/data-science-jobs-and-salary-glassdoor/data

In [26]:
#revision del dataset
print(df3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 742 entries, 0 to 741
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          742 non-null    object
 1   Salary Estimate    742 non-null    object
 2   Job Description    742 non-null    object
 3   Rating             742 non-null    float64
 4   Company Name       742 non-null    object
 5   Location           742 non-null    object
 6   Headquarters       742 non-null    object
 7   Size               742 non-null    object
 8   Founded            742 non-null    int64
 9   Type of ownership  742 non-null    object
 10  Industry           742 non-null    object
 11  Sector             742 non-null    object
 12  Revenue            742 non-null    object
 13  Competitors        742 non-null    object
 14  hourly             742 non-null    int64
 15  employer_provided  742 non-null    int64
 16  min_salary         742 non-null    int64
 17  max_salary         742 non-null    int64
 18  avg_salary         742 non-null    float64
 19  company_txt        742 non-null    object
 20  job_state          742 non-null    object
 21  same_state         742 non-null    int64
 22  age                742 non-null    int64
 23  python_yn          742 non-null    int64
 24  R_yn               742 non-null    int64
 25  spark              742 non-null    int64
 26  aws                742 non-null    int64
 27  excel              742 non-null    int64
dtypes: float64(2), int64(12), object(14)
memory usage: 162.4+ KB
None

In [27]:
print(df3.describe())

           Rating      Founded      hourly  employer_provided  min_salary  \
count  742.000000   742.000000  742.000000         742.000000  742.000000
mean     3.618868  1837.154987    0.032345           0.022911   74.068733
std      0.801210   497.183763    0.177034           0.149721   31.869282
min     -1.000000    -1.000000    0.000000           0.000000   10.000000
25%      3.300000  1939.000000    0.000000           0.000000   52.000000
50%      3.700000  1988.000000    0.000000           0.000000   69.500000
75%      4.000000  2007.000000    0.000000           0.000000   91.000000
max      5.000000  2019.000000    1.000000           1.000000  202.000000

       max_salary  avg_salary  same_state         age   python_yn        R_yn  \
count  742.000000  742.000000  742.000000  742.000000  742.000000  742.000000
mean   127.183288  100.626011    0.557951   46.591644    0.528302    0.002695
std     46.909006   38.855948    0.496965   53.778815    0.499535    0.051882
min     16.000000   13.500000    0.000000   -1.000000    0.000000    0.000000
25%     96.000000   73.500000    0.000000   11.000000    0.000000    0.000000
50%    124.000000   97.500000    1.000000   24.000000    1.000000    0.000000
75%    155.000000  122.500000    1.000000   59.000000    1.000000    0.000000
max    306.000000  254.000000    1.000000  276.000000    1.000000    1.000000

            spark         aws       excel
count  742.000000  742.000000  742.000000
mean     0.225067    0.237197    0.522911
std      0.417908    0.425651    0.499812
min      0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000
50%      0.000000    0.000000    1.000000
75%      0.000000    0.000000    1.000000
max      1.000000    1.000000    1.000000

In [28]:
df3.head(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,avg_salary,company_txt,job_state,same_state,age,python_yn,R_yn,spark,aws,excel
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,72.0,Tecolote Research\n,NM,0,47,1,0,0,0,1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,87.5,University of Maryland Medical System\n,MD,0,36,1,0,0,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,85.0,KnowBe4\n,FL,1,10,1,0,1,0,1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,76.5,PNNL\n,WA,1,55,1,0,0,0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,114.5,Affinity Solutions\n,NY,1,22,1,0,0,0,1

In [29]:
df3 = df3.drop(['min_salary', 'max_salary','avg_salary','company_txt','age','python_yn','R_yn','spark','aws','excel'], axis=1)

In [30]:
# Identificar duplicados en todas las columnas
duplicados = df3.duplicated()

# Mostrar las filas duplicadas
print(df3[duplicados])

# Contar el número total de duplicados
print(f"Total duplicados: {duplicados.sum()}")

                                             Job Title  \
29                                      Data Scientist
30                                      Data Scientist
58                                      Data Scientist
59                                      Data Scientist
86                   Staff Data Scientist - Technology
..                                                 ...
737           Sr Scientist, Immuno-Oncology - Oncology
738                               Senior Data Engineer
739  Project Scientist - Auton Lab, Robotics Institute
740                               Data Science Manager
741          Research Scientist – Security and Privacy

                  Salary Estimate  \
29     $80K-$90K (Glassdoor est.)
30     $56K-$97K (Glassdoor est.)
58     $54K-$93K (Glassdoor est.)
59    $71K-$119K (Glassdoor est.)
86   $106K-$172K (Glassdoor est.)
..                            ...
737   $58K-$111K (Glassdoor est.)
738   $72K-$133K (Glassdoor est.)
739    $56K-$91K (Glassdoor est.)
740   $95K-$160K (Glassdoor est.)
741   $61K-$126K (Glassdoor est.)

                                       Job Description  Rating  \
29   KnowBe4, Inc. is a high growth information sec...     4.8
30   *Organization and Job ID**\nJob ID: 310709\n\n...     3.8
58   Job Description\n\n**Please only local candida...     4.1
59   CyrusOne is seeking a talented Data Scientist ...     3.4
86   Position Summary...\nDrives the execution of m...     3.2
..                                                 ...     ...
737  Site Name: USA - Massachusetts - Cambridge\nPo...     3.9
738  THE CHALLENGE\nEventbrite has a world-class da...     4.4
739  The Auton Lab at Carnegie Mellon University is...     2.6
740  Data Science ManagerResponsibilities:\n\nOvers...     3.2
741  Returning Candidate? Log back in to the Career...     3.6

                            Company Name         Location  \
29                          KnowBe4\n4.8   Clearwater, FL
30                             PNNL\n3.8     Richland, WA
58               ClearOne Advantage\n4.1    Baltimore, MD
59                         CyrusOne\n3.4       Dallas, TX
86                          Walmart\n3.2        Plano, TX
..                                   ...              ...
737                             GSK\n3.9    Cambridge, MA
738                      Eventbrite\n4.4    Nashville, TN
739  Software Engineering Institute\n2.6   Pittsburgh, PA
740                    Numeric, LLC\n3.2    Allentown, PA
741    Riverside Research Institute\n3.6  Beavercreek, OH

                  Headquarters                    Size  Founded  \
29              Clearwater, FL   501 to 1000 employees     2010
30                Richland, WA  1001 to 5000 employees     1965
58               Baltimore, MD   501 to 1000 employees     2008
59                  Dallas, TX    201 to 500 employees     2000
86             Bentonville, AR        10000+ employees     1962
..                         ...                     ...      ...
737  Brentford, United Kingdom        10000+ employees     1830
738          San Francisco, CA  1001 to 5000 employees     2006
739             Pittsburgh, PA   501 to 1000 employees     1984
740            Chadds Ford, PA       1 to 50 employees       -1
741              Arlington, VA   501 to 1000 employees     1967

          Type of ownership                             Industry  \
29        Company - Private                    Security Services
30               Government                               Energy
58        Company - Private                Banks & Credit Unions
59         Company - Public                          Real Estate
86         Company - Public  Department, Clothing, & Shoe Stores
..                      ...                                  ...
737        Company - Public            Biotech & Pharmaceuticals
738        Company - Public                             Internet
739    College / University              Colleges & Universities
740       Company - Private               Staffing & Outsourcing
741  Nonprofit Organization                     Federal Agencies

                           Sector                           Revenue  \
29              Business Services        $100 to $500 million (USD)
30   Oil, Gas, Energy & Utilities  $500 million to $1 billion (USD)
58                        Finance          Unknown / Non-Applicable
59                    Real Estate            $1 to $2 billion (USD)
86                         Retail                $10+ billion (USD)
..                            ...                               ...
737     Biotech & Pharmaceuticals                $10+ billion (USD)
738        Information Technology        $100 to $500 million (USD)
739                     Education          Unknown / Non-Applicable
740             Business Services           $5 to $10 million (USD)
741                    Government         $50 to $100 million (USD)

                                           Competitors  hourly  \
29                                                  -1       0
30   Oak Ridge National Laboratory, National Renewa...       0
58                                                  -1       0
59                   Digital Realty, CoreSite, Equinix       0
86                    Target, Costco Wholesale, Amazon       0
..                                                 ...     ...
737                         Pfizer, AstraZeneca, Merck       0
738                    See Tickets, TicketWeb, Vendini       0
739                                                 -1       0
740                                                 -1       0
741                                                 -1       0

     employer_provided job_state  same_state
29                   0        FL           1
30                   0        WA           1
58                   0        MD           1
59                   0        TX           1
86                   0        TX           0
..                 ...       ...         ...
737                  0        MA           0
738                  0        TN           0
739                  0        PA           1
740                  0        PA           0
741                  0        OH           0

[275 rows x 18 columns]
Total duplicados: 275

In [ ]:
categorical_columns = ['Job Title', 'Location', 'Type of ownership', 'Industry', 'Sector']
for col in categorical_columns:
    plot_top_n_categories(df3, col, n=20)

In [10]:
df3['job_simp'] = df3['Job Title'].apply(title_simplifier)
df3.job_simp.value_counts()

job_simp
data scientist                                                                                        279
data engineer                                                                                         119
data analyst                                                                                          102
machine learning engineer                                                                              22
manager                                                                                                22
                                                                                                     ...
research scientist - biological safety                                                                  1
associate scientist/scientist, process analytical technology - small molecule analytical chemistry      1
staff scientist                                                                                         1
consultant– data analytics group                                                                        1
associate scientist / sr. associate scientist, antibody discovery                                       1
Name: count, Length: 98, dtype: int64

In [17]:
df3['Company Name'] = df3['Company Name'].str.split('\n').str[0]

In [21]:
df3=extraer_salarios(df3,"Salary Estimate")

In [22]:
df3.head(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Sector,Revenue,Competitors,hourly,employer_provided,job_state,same_state,min_salary,max_salary,avg_salary
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,NM,0,53000,91000,72000.0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,Health Care,$2 to $5 billion (USD),-1,0,0,MD,0,63000,112000,87500.0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,Business Services,$100 to $500 million (USD),-1,0,0,FL,1,80000,90000,85000.0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,WA,1,56000,97000,76500.0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,NY,1,86000,143000,114500.0

# **Dataset 4: Cleaned Dataset Canada**

In [42]:
#Carga del dataset
df4 = pd.read_csv(r'C:\Users\daine\Downloads\Proyecto\datasets\Cleaned_Dataset_Canada.csv')

In [43]:
#revision del dataset
print(df4.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1796 entries, 0 to 1795
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Job Title      1796 non-null   object
 1   Job Info       1796 non-null   object
 2   Position       1796 non-null   object
 3   Employer       1796 non-null   object
 4   City           1796 non-null   object
 5   Province       1796 non-null   object
 6   Skill          1796 non-null   object
 7   Seniority      1796 non-null   object
 8   Work Type      1796 non-null   object
 9   Industry Type  1796 non-null   object
 10  Min_Salary     1796 non-null   float64
 11  Max_Salary     1796 non-null   float64
 12  Avg_Salary     1796 non-null   float64
dtypes: float64(3), object(10)
memory usage: 182.5+ KB
None

In [44]:
print(df4.describe())

          Min_Salary     Max_Salary    Avg_Salary
count    1796.000000    1796.000000    1796.00000
mean    68664.196687   88205.254972   78434.72583
std     18792.564520   20038.391957   18026.98823
min     30240.560000   57200.000000   43720.28000
25%     60000.000000   79040.000000   69500.00000
50%     68000.000000   87000.000000   77750.00000
75%     79839.635000   93600.000000   87770.80000
max    137280.000000  180000.000000  158640.00000

In [35]:
df4.head(10)

,Job Title,Job Info,Position,Employer,City,Province,Skill,Seniority,Work Type,Industry Type,Min_Salary,Max_Salary,Avg_Salary
0,Systems and Data Analysts,Binance Accelerator Program - Data Analyst (Risk),Risk Analyst,Binance,Remote,Undef,"Python, Sql",ANY,Remote,Others,76000.00,89440.0,82720.000
1,Business and Marketing Analysts,Business Analyst,Business Analyst,Canadian Nuclear Laboratories,Remote,Undef,"Power Bi, Power BI, Excel",ANY,Remote,Others,65000.00,87000.0,76000.000
2,Business and Technical Analysts,Geophysicist/Data Analyst,Data Analyst,Sander Geophysics Limited,Ottawa,ON,Undef,ANY,In-Person,Technology,64123.59,86600.0,75361.795
3,Systems and Data Analysts,Business Intelligence Data Engineer,Data Engineer,"Maximus Services, LLC",Toronto,ON,"Fabric, Power BI, Sql, Machine Learning, Genes...",ANY,In-Person,Service,87875.00,105000.0,96437.500
4,Systems and Data Analysts,"BUSINESS INTELLIGENCE SPECIALIST, FT",Data Specialist,Niagara Health System,Niagara,ON,"Azure, Power BI, SQL, Aws",Senior,In-Person,Healthcare,115211.20,130332.8,122772.000
5,Senior Supply Chain Data Analysts,Continuous Improvement Analyst,Analyst,IMP Group,Abbotsford,BC,Excel,ANY,In-Person,Others,68500.00,87000.0,77750.000
6,Senior Business Intelligence Analysts,IT Business Process Analyst,Analyst,Ground Effects,Windsor,ON,"C#, Javascript, Sql, Database",ANY,In-Person,Others,68000.00,88300.0,78150.000
7,Systems and Data Analysts,Computer Programmer/Analyst,Programmer,The City of Vancouver,Vancouver,BC,"Database, Sql, Power Platform, Ssis, Azure, Ss...",ANY,In-Person,Technology,91145.60,107702.4,99424.000
8,Senior Business Intelligence Analysts,"Senior Developer, Business Intelligence",Developer,Ontario Health,Toronto,ON,"Power Bi, Power Platform, Ssis, Sql, Big Data,...",Senior,In-Person,Healthcare,68000.00,88300.0,78150.000
9,Senior Supply Chain Data Analysts,OPGT MOD Ã¢â‚¬â€œ ONE (1) BUSINESS ANALYST Ã¢â...,Business Analyst,Softline Technology,Toronto,ON,"Sql, Gap, Power BI",Senior,In-Person,Technology,68500.00,87000.0,77750.000

In [41]:
df4['country']='Canada'

In [45]:
df4['Skill'].to_csv('keywords.csv')

# **Dataset 5: Cost of living US**

In [37]:
#Carga del dataset
df5 = pd.read_csv(r'C:\Users\daine\Downloads\Proyecto\datasets\cost_of_living_us.csv')
#descargarlo desde https://www.kaggle.com/datasets/asaniczka/us-cost-of-living-dataset-3171-counties?resource=download

In [38]:
#revision del dataset
print(df5.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31430 entries, 0 to 31429
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_id                 31430 non-null  int64
 1   state                   31430 non-null  object
 2   isMetro                 31430 non-null  bool
 3   areaname                31430 non-null  object
 4   county                  31430 non-null  object
 5   family_member_count     31430 non-null  object
 6   housing_cost            31430 non-null  float64
 7   food_cost               31430 non-null  float64
 8   transportation_cost     31430 non-null  float64
 9   healthcare_cost         31430 non-null  float64
 10  other_necessities_cost  31430 non-null  float64
 11  childcare_cost          31430 non-null  float64
 12  taxes                   31430 non-null  float64
 13  total_cost              31430 non-null  float64
 14  median_family_income    31420 non-null  float64
dtypes: bool(1), float64(9), int64(1), object(4)
memory usage: 3.4+ MB
None

In [39]:
print(df5.describe())

            case_id  housing_cost     food_cost  transportation_cost  \
count  31430.000000  31430.000000  31430.000000         31430.000000
mean    1589.311804  11073.673539   8287.504557         13593.856381
std      917.218414   4165.606147   3271.140249          1640.456562
min        1.000000   4209.311280   2220.276840          2216.461440
25%      792.000000   8580.000000   5801.424360         12535.159800
50%     1593.000000  10416.000000   8129.156280         13698.164400
75%     2386.000000  12444.000000  10703.624280         14765.758500
max     3171.000000  61735.587600  31178.619600         19816.482000

       healthcare_cost  other_necessities_cost  childcare_cost         taxes  \
count     31430.000000            31430.000000    31430.000000  31430.000000
mean      13394.031748             7015.318377     9879.584233   7657.714782
std        5204.545710             2397.415490     6778.223399   3339.795571
min        3476.379960             2611.642080        0.000000   1027.800756
25%        9667.440000             5286.354120     5341.621590   5597.970360
50%       13082.700000             6733.056120    10166.340120   6898.468860
75%       16657.816800             8413.090230    14276.377800   8790.207270
max       37252.274400            28829.443200    48831.085200  47753.390400

          total_cost  median_family_income
count   31430.000000          31420.000000
mean    70901.683601          68315.997017
std     21846.545235          16886.970245
min     30087.662400          25529.976562
25%     53776.019400          57223.988281
50%     70977.682800          65955.605469
75%     85371.341100          76136.070312
max    223717.548000         177662.468750

In [40]:
df5.head(5)

,case_id,state,isMetro,areaname,county,family_member_count,housing_cost,food_cost,transportation_cost,healthcare_cost,other_necessities_cost,childcare_cost,taxes,total_cost,median_family_income
0,1,AL,True,"Montgomery, AL MSA",Autauga County,1p0c,8505.72876,3454.91712,10829.16876,5737.47984,4333.81344,0.0000,6392.94504,39254.0532,73010.414062
1,1,AL,True,"Montgomery, AL MSA",Autauga County,1p1c,12067.50240,5091.70788,11588.19288,8659.55640,6217.45896,6147.8298,7422.07836,57194.3256,73010.414062
2,1,AL,True,"Montgomery, AL MSA",Autauga County,1p2c,12067.50240,7460.20308,12361.77720,11581.63260,7075.65816,15824.6940,9769.56228,76141.0308,73010.414062
3,1,AL,True,"Montgomery, AL MSA",Autauga County,1p3c,15257.15040,9952.23924,13452.18600,14503.70760,9134.35620,18802.1892,13101.70320,94203.5328,73010.414062
4,1,AL,True,"Montgomery, AL MSA",Autauga County,1p4c,15257.15040,12182.21400,13744.59840,17425.78560,9942.36396,18802.1892,13469.21880,100823.5200,73010.414062
5,1,AL,True,"Montgomery, AL MSA",Autauga County,2p0c,10180.29420,6334.01436,12861.88680,11474.95968,5983.78524,0.0000,8236.73076,55071.6684,73010.414062
6,1,AL,True,"Montgomery, AL MSA",Autauga County,2p1c,12067.50240,7883.31888,13589.11200,14397.03720,7228.96944,6147.8298,9459.90240,70773.6744,73010.414062
7,1,AL,True,"Montgomery, AL MSA",Autauga County,2p2c,12067.50240,9984.05268,14723.60760,17319.11280,7990.14840,15824.6940,11168.75028,89077.8696,73010.414062
8,1,AL,True,"Montgomery, AL MSA",Autauga County,2p3c,15257.15040,12189.77040,14994.60000,20241.18720,9945.10176,18802.1892,13210.14840,104640.1524,73010.414062
9,1,AL,True,"Montgomery, AL MSA",Autauga County,2p4c,15257.15040,14917.35840,15064.26360,23163.26520,10933.41504,18802.1892,13417.21920,111554.8596,73010.414062